* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
}
legend {
	color: #005580;
	font-weight: bold;
	border-bottom: none;
	width: auto;
	margin-bottom: 0;
}
fieldset {
	color: #000;
	background-color: #fff;
	border: 2px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
	padding: 5px;
	margin: 5px;
}

.meetingDateGroup {
	width: 300px;
}

input[type="date"] {
	line-height: 28px;
	width: 100%;
}
input[type="checkbox"] {
 	outline: none;
}
input[type="checkbox"]:focus {
	outline: none;
}

#pointList,
#meetingList {
	list-style-type: none;
	padding: 0;
}
#meetingList li {
	cursor: pointer;
}

#meetingList {
	width: 300px;
	margin-top: 3px;
	box-shadow: none;
}

#meetingList .active {
	color: #fff;ª
}

#meetingContainer {
	padding-top: 20px;
	padding-left: 50px;
}
#remove-meeting-btn {
	display: none;
	margin: 0 auto;
	color: #000;
	font-size: 22px;
	position: absolute;
	top: -1px;
	right: 5px;
	width: 30px;
	height: 30px;
	border: none;
	background: none;
}
.breadcrumb:hover #remove-meeting-btn {
	display: block;
}
#remove-meeting-btn:after {
	content: '✖';
}
#meetingPanel .panel-body {
	margin: 0;
	padding: 0;
}
#meetingPanel .panel-heading input {
	color: #000;
}

.notEditing {
	display: none;
}

.editingMeeting {
	display: block;
}

.pointInput {
	width: 300px;
}

#pointList .edit {
	display: none;
}
#pointList > div > div {
	display: table-cell;
}
#pointList > div .toggleContainer {
	width: 40px;
	padding: 4px;
}
#pointList > div .toggle {
	padding-right: 6px;
	width: 30px;
	margin: 0 auto;
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
#pointList > div .toggle:after {
	content: '✔';
	font-size: 20px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}
#pointList .checked .viewPoint>label {
	color: #c5c5c5;
	text-decoration: line-through;
}
#pointList > div .toggle:checked:after {
	color: #2d6ca2;
	text-shadow: 0 1px 0 #2d6ca2;
	bottom: 1px;
	position: relative;
}
#pointList > div:first-child {
	
}
#pointList > div:last-child {
	margin: 0px;
}
#pointList > div {
	margin-bottom: -1px;
	padding: 6px;
	border: 1px solid #ccc;
	display: table;
	width: 100%;
}
.list-group-item:hover,
#pointList > div:hover {
	background-color: #f5f5f5;
}
#pointList label {
	font-weight: normal;
	font-size: 20px;
}
.editing label {
	display: none;
}
#pointList .editing .edit {
	display: block;
}

#systemStatus {
	background-color: #2c2c2c;
	color: #fff;
	padding: 2px;
	display: none;
	text-align: center;
}

.btn {	
}

.breadcrumb {
	position: relative;
	padding:7px 14px;
	margin:0 0 18px;
	list-style:none;
	background-color:#fbfbfb;
	background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
	background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image:-o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image:linear-gradient(top, #ffffff, #f5f5f5);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	border:1px solid #ddd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 0 #ffffff;
	-moz-box-shadow:inset 0 1px 0 #ffffff;
	box-shadow:inset 0 1px 0 #ffffff;
}

.calendar {
	display: table;
	border: 1px solid black;
	border-bottom: none;
}
.calendar .calendar-row {
	display: table-row;
}
.calendar .calendar-header-tb .calendar-prev,
.calendar .calendar-header-tb .calendar-next {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 40px;
	cursor: pointer;
}
.calendar .calendar-header {
	display: table-caption;
	border: 1px solid black;
	border-bottom: none;
}
.calendar .calendar-header-tb {
	display: table;
}
.calendar .group {
	display: table-row-group
}
.calendar .calendar-header-tb .calendar-title {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 40px;
	width: 501px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.calendar .calendar-cell {
	display: table-cell;
	width: 100px;
	height: 100px;
	cursor: pointer;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.calendar .calendar-cell:last-child {
	border-right: none;
}
.calendar .other-month {
	background-color: #dcdcdc;
}
.calendar .other-month:hover {
	background-color: #bdbdbd;
}
.calendar .current-month {
	color: #fff;
	background-color: #2d6ca2;
}
.calendar .current-month:hover {
	color: #000;
	background-color: #fff;
}

@media (min-width: 1024px) {
	.array {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
	}
	
	.array > div.left {
		display: table-cell;
		width: 50%;
		height: 100%;
	}
	
	.array > div.right {
		display: table-cell;
		width: 50%;
		height: 100%;
	}
	
	.array > div > div {
		display: table;
		width: 100%;
		height: 100%;
	}

	.left > div > div {
		display: table-cell;
		width: 50%;
	}
	
	.right > div > div {
		display: table-cell;
	}
	
	.array > div > div > div > fieldset {
		height: 100%;
		border: 1px solid black;
	}
}

@media (min-width: 981px) and (max-width: 1023px) {	
	.array {
		display: block;
		width: 100%;
	}
	
	.array > div {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}
	
	.array > div > div {
		display: table-row;
		height: 100%;
	}

	.array > div > div > div {
		display: table-cell;
		height: 100%;
		width: 50%;
	}
	
	.array > div > div > div > fieldset {
		height: 100%;
		border: 1px solid black;
	}
}

@media (max-width: 980px) {	
	.array {
		display: block;
	}
}